server:
  port: 7071

spring:
  security:
    user:
      name: mustafa
      password: 123
  rabbitmq:
    host: localhost
    port: 5672
    username: user
    password: user
  zipkin:
    enabled: true
    base-url: http://localhost:9411
    service:
      name: auth-service
  datasource:
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: root
    url: jdbc:postgresql://34.155.69.86:6060/authDb
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true




jwt:
  secretKey: ${java9secretkey}
  issuer:  ${java9issuer}
  audience: ${java9audience}
rabbitmq:
  auth-exchange: authExchange
  register-queue: registerQueue
  register-bindingKey: registerBindingKey
  activation-bindingKey: activation
  activation-queue: activationQueue
  mail-bindingKey: mailKey
  mail-queue: mailQueue
redis:
  host: localhost
  port:  6379

logging:
  level:
    root: info
  file:
    name: auth.log
  logback:
    rollingpolicy:
      max-file-size: 10MB


