server:
  port: 9090

spring:
  rabbitmq:
    host: 10.44.1.8
    port: 5672
    username: alicemal96
    password: Rx199630
  zipkin:
    enabled: true
    base-url: http://10.44.1.13:9411
    service:
      name: auth-service
  datasource:
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: Rx199630
    url: jdbc:postgresql://10.44.1.12:5432/AuthDB
  jpa:
    hibernate:
      ddl-auto: update
# ÖNEMLİ: Şifre gibi başkalarının görmesini istemeyeceğiniz verileri yml dosyasında dahi tutmak sakıncalıdır.
# Bu nedenle bu tür bilgilerin gizlenmesi gereklidir.
# Bu gizleme işlemi için Environment'lar(Ortam değişkenleri) kullanılmalıdır.
authservices:
  secrets:
    secret-key: ${JAVA9_SECRETKEY}
    issuer: ${JAVA9_ISSUER}
